#exportPattern("^[[:alpha:]]+")

export(path.data)
export(attach.data)
export(detach.data)

export(EAP.mean)
S3method(print,EAP.mean)
S3method(length,EAP.mean)
S3method(update,EAP.mean)
S3method(Random,EAP.mean)
S3method("[[",EAP.mean)
S3method(length,EAP.mean)
S3method(mean,EAP.mean)
S3method(var,EAP.mean)
S3method(sd,EAP.mean)
S3method(plot,EAP.mean)
export(Plot.EAP)
S3method(identify,EAP.mean)

S3method(print,EAP.common)
S3method(length,EAP.common)
S3method(Random,EAP.common)

export(EAP.cont)
S3method(update,EAP.cont)
S3method(plot,EAP.cont)
S3method(identify,EAP.cont)

export(EAP.disc)
S3method(update,EAP.disc)
S3method(plot,EAP.disc)
S3method(identify,EAP.disc)

# generics
export(up) 
export(down)
export(more)
export(less)
export(play)

S3method(up,default)
S3method(down,default)
S3method(up,EAP.cont)
S3method(down,EAP.cont)
S3method(more,EAP.common)
S3method(less,EAP.common)
S3method(play,EAP.common)

export(seMean)
export(seVar)
export(seDMean)
export(seDMeanG)
export(seDVar)
export(seRMean)
export(seRVar)
export(coefLM)
export(seCoefLM)
export(varLM)
export(seVarLM)


S3method(seMean,dynExpr)
S3method(seDMean,dynExpr)
S3method(seRMean,dynExpr)
S3method(seVar,dynExpr)
S3method(seDVar,dynExpr)
S3method(seRVar,dynExpr)
S3method(seCoefLM,dynExpr)
S3method(seVarLM,dynExpr)
S3method(coefLM,dynExpr)
S3method(varLM,dynExpr)

S3method(seMean,default)
S3method(seVar,default)
S3method(seDMean,default)
S3method(seDMeanG,default)
S3method(seDVar,default)
S3method(seRMean,default)
S3method(seRVar,default)
S3method(coefLM,default)
S3method(seCoefLM,default)
S3method(varLM,default)
S3method(seVarLM,default)


export(multiVariate)
S3method(Ops,dynExpr)
S3method(Math,dynExpr)
S3method(Math2,dynExpr)
S3method(Summary,dynExpr) 

S3method(var,default)
export(var)
S3method(sd,default)
export(sd)
export(mth)
export(moment)

S3method(moment,default)
S3method(mean,dynExpr)
S3method(var,dynExpr)
S3method(sd,dynExpr)
S3method(moment,dynExpr)
S3method("[",dynExpr)
S3method(c,dynExpr)

export(cumfreq)
S3method(mean,list)
S3method(var,list)
S3method(sd,list)
S3method(moment,list)

export(sim)
export(Random)
S3method(Random,default)
export(QQ)
export(Quantile)
export(PP)
export(Prob)
export(FF)
export(CumProb)
export(ff)
export(Density)
export(EE)
export(Mean)
export(VV)
export(Var)
export(MM)
export(Moment)
export(WhatIs)
export(Param)
export(PP.sim)
S3method(PP,EAP)
S3method(Prob,EAP)
export(QQ.sim)
S3method(QQ,EAP)
S3method(Quantile,EAP)
export(FF.sim)
S3method(FF,EAP)
S3method(CumProb,EAP)
export(EE.sim)
S3method(EE,EAP)
S3method(Mean,EAP)
export(VV.sim)
S3method(VV,EAP)
S3method(Var,EAP) 
export(MM.sim)
S3method(MM,EAP)
S3method(Moment,EAP)
export(is.discrete)
export(Margin)
S3method(CumProb,default)
S3method(Density,default)
S3method(Quantile,default)
S3method(WhatIs,default)
S3method(Param,default)

export(first.EAP)

S3method(Density,random)
S3method(Quantile,random)
S3method(is.discrete,random)
S3method(CumProb,random)
S3method(EE,random)
S3method(VV,random)
S3method(Moment,random)
S3method(Prob,random)
S3method(EE,EAP.random)
S3method(VV,EAP.random)
S3method(Moment,EAP.random)
S3method(PP,EAP.random)
S3method(FF,EAP.random)
S3method(QQ,EAP.random)
S3method(WhatIs,random)
S3method(print,random)
S3method(as.double,random)

export(rdiscrete)
export(ddiscrete)
export(pdiscrete)
export(qdiscrete)

export(getDistrib)
export(Distrib)
export(Distribution)
export(Binom)
export(Pois)
export(Poisson)
export(ChooseIn)
export(Discrete)
export(Unif)
export(Uniform)
export(Norm)
export(Normal)
export(St)
export(Student)
export(Chi2)
export(Chisquare)
export(Fisher)

export(getMVDistrib)
export(MVDistrib)
export(MVDistribution)

export(MVNorm)
export(MVUnif)

export(rmvunif)
export(dmvunif)

S3method(WhatIs,distrib)
S3method(Random,distrib)
S3method(CumProb,distrib)
S3method(Quantile,distrib)
S3method(Density,distrib)


S3method(plot,distrib.disc)
S3method(plot,distrib.cont)

S3method(plot,distrib)
export(area)
S3method(area,distrib)
S3method(EE,distrib)
S3method(VV,distrib)
S3method(Param,distrib)

S3method(as.double,matrix)

## Esperance and Variance
S3method(EE,default)
S3method(VV,default)
S3method(Moment,default)
S3method(EE,binomDist)
S3method(VV,binomDist)
S3method(EE,poisDist)
S3method(VV,poisDist)
S3method(EE,unifDist)
S3method(VV,unifDist)
S3method(EE,normDist)
S3method(VV,normDist)
S3method(EE,discreteDist)
S3method(VV,discreteDist)
S3method(EE,tDist)
S3method(VV,tDist)
S3method(EE,chisqDist)
S3method(VV,chisqDist)
S3method(EE,fDist)
S3method(VV,fDist)

export(Mixture)
S3method(WhatIs,mixture)
S3method(Random,mixture)
S3method(CumProb,mixture)
S3method(Quantile,mixture)
S3method(Density,mixture)
S3method(EE,mixture)
S3method(VV,mixture)
export(MVMixture)
S3method(Random,mvmixture)

export(MVIndMarg)
S3method(Margin,mvim)
S3method(Random,mvim)

export(Sample)
S3method(WhatIs,sample)
S3method(Random,sample)
S3method(length,sample)

export(Parameter)
S3method(print,parameter)
S3method(as.double,parameter)


S3method(WhatIs,parameter)

export(Est)
export("Est<-")

S3method(Est,parameter)
S3method("Est<-",parameter)
export(lsSample)

S3method(as.double,randExpr)
S3method(print,randExpr)
S3method(Random,randExpr)
S3method(WhatIs,randExpr)
S3method(EE,randExpr)
S3method(VV,randExpr)
S3method(Moment,randExpr)
S3method(Prob,randExpr)
S3method(Quantile,randExpr)

export(curEnvir)
export(parseParam)
export(as.parametrizable)

S3method("$",withParam)
S3method("$<-",withParam)

export(Envir)
S3method(Envir,withParam)


export(Verif.EAP)
export(HistCurve)
export(Hist)
export(HistCont)
export(HistDisc)
export(plot.EAP)
export(Hist.EAP)
export(HistDiscreteTh)
export(CumulDiscreteTh)
export(QuantileDiscreteTh)
export(StepHistDiscrete)
 

